:root {
  // Colors:

  --primary-title-color: rgba(220, 86, 197, 1);
  --primary-text-color: rgba(255, 255, 255, 1);
  --text-color-in-modal: rgba(14, 14, 14, 1);
  --modal-background-color: rgba(255, 242, 253, 1);
  --buy-ticket-bg-color: rgba(255, 242, 253, 1);
  --input-text-color: rgba(147, 147, 147, 1);

  // fonts:

  --primary-font: 'Montserrat', sans-serif;
}
