:root {
  // Colors:

  --primary-title-color: rgba(220, 86, 197, 1);
  --primary-text-color: rgba(255, 255, 255, 1);
  --text-color-in-modal: rgba(14, 14, 14, 1);
  --modal-background-color: rgba(255, 242, 253, 1);
  --buy-ticket-bg-color: rgba(255, 242, 253, 1);
  --input-text-color: rgba(147, 147, 147, 1);
  --input-bg-color: rgba(255, 255, 255, 0.2);
  --modal-accent-color: rgba(76, 0, 254, 1);

  // fonts:

  --primary-font-family: 'Montserrat', sans-serif;

  --header-title-font-weight: 900;
  --input-font-weight: 400; // --list-date-font-weight;
  --list-title-font-weight: 700;
  --list-place-font-weight: 600;
  --modal-btn-font-weight: 500;

  --primary-font-size: 16px;
  --input-place-font-size: 14px;
  --modal-title-font-size: 24px;
  --modal-text-font-size: 18px;
  --header-title-font-size-desktop: 50px;
  --header-title-font-size-tablet: 30px;
  --modal-info-font-size: 20px;
}
