<section class="events">
  <div class="container">
    <h2 class="visually-hidden">Event list</h2>
    <ul class="events__gallery js-events-list grid"></ul>
    <ul
      id="pagination"
      style="display: flex; list-style: none; justify-content: center; padding: 0; color: #fff"
    >
      <li>1</li>
      <li style="margin: 0 15px">2</li>
      <li>3</li>
      <li style="margin: 0 15px">4</li>
      <li>5</li>
      <li style="margin: 0 15px">6</li>
      <li>7</li>
      <li style="margin: 0 15px">8</li>
      <li>9</li>
      <li style="margin: 0 15px">10</li>
      <li>11</li>
      <li style="margin: 0 15px">12</li>
      <li>13</li>
      <li style="margin: 0 15px">14</li>
      <li>15</li>
      <li style="margin: 0 15px">16</li>
      <li>17</li>
      <li style="margin: 0 15px">18</li>
      <li>19</li>
      <li style="margin: 0 15px">20</li>
    </ul>
  </div>
</section>
