<footer class="footer">
    <div class="container footer__block">
    <!-- <p class="footer__link">© 2021 | All Rights Reserved |</p>
    <a href="" class="footer__link"> Developed with <span class="footer__heart">♥️</span> by GoIT Students</a> -->
    <p class="footer__link">© 2021 | All Rights Reserved |</p>
    <p class="footer__link footer__link-heart"> Developed with<span class=" footer__heart ">♥️</span> by
    <button class="footer__button footer__link" data-action="open-modal-footer">GoIT Students</button></p>
    </div>
</footer>

<div class="footer__backdrop js-backdrop-footer">
    <div class="footer__modal">
        <h2 class="footer__modal-title">GoIT Students</h2>
        <button aria-label="Закрыть" class="footer__modal-button" data-action="close-modal-footer">
            <svg class="footer__modal-icon" >
                <use href="./images/svg/close-modal-footer.svg#icon-close"></use>
            </svg>
        </button>

        <ul class="command__list">
            <div class="command__box">

                <li class="command__item">

                    <article class="card">
                        <div class="command__card">
                            <img src="./images/footer-modal/tim-lid.png" alt="" width="120" height="100">
                            <div class="card__box">
                                <p class="card__content">project management</p>
                            </div>
                        </div>
                        <div class="command__content">
                            <h3 class="command__title">Alex Alexeew</h3>
                            <p class="command__text">Team leader</p>
                        </div>
                    </article>

                </li>
                <li class="command__item">

                    <article class="card">
                        <div class="command__card">
                            <img src="./images/footer-modal/aelita.jpg" alt="" width="120" height="100">
                            <div class="card__box">
                                <p class="card__content">project organization</p>
                            </div>
                        </div>
                        <div class="command__content">
                            <h3 class="command__title">Aelita Deinychenko</h3>
                            <p class="command__text">Scrum Master</p>
                        </div>
                    </article>

                </li>
                <li class="command__item">

                    <article class="card">
                        <div class="command__card">
                            <img src="./images/footer-modal/anton.jpg" alt="" width="120" height="100">
                            <div class="card__box">
                                <p class="card__content">paginationt</p>
                            </div>
                        </div>
                        <div class="command__content">
                            <h3 class="command__title">Anton Kovalchuk</h3>
                            <p class="command__text">Developer</p>
                        </div>
                    </article>

                </li>

            </div>
            <div class="command__box">
                <li class="command__item">

                    <article class="card">
                        <div class="command__card">
                            <img src="./images/footer-modal/karina2.jpg" alt="" width="120" height="100">
                            <div class="card__box">
                                <p class="card__content">development of a search bar</p>
                            </div>
                        </div>
                        <div class="command__content">
                            <h3 class="command__title">Karina Klevetska</h3>
                            <p class="command__text">Developer</p>
                        </div>
                    </article>

                </li>
                <li class="command__item">

                    <article class="card">
                        <div class="command__card">
                            <img src="./images/footer-modal/bogdan.jpg" alt="" width="120" height="100">
                            <div class="card__box">
                                <p class="card__content">open modal logic and closing it</p>
                            </div>
                        </div>
                        <div class="command__content">
                            <h3 class="command__title">Bogdan Sulimovskiy</h3>
                            <p class="command__text">Developer</p>
                        </div>
                    </article>

                </li>
                <li class="command__item">

                    <article class="card">
                        <div class="command__card">
                            <img src="./images/footer-modal/nazar.jpg" alt="" width="120" height="100">
                            <div class="card__box">
                                <p class="card__content">header styling</p>
                            </div>
                        </div>
                        <div class="command__content">
                            <h3 class="command__title">Nazarii Pak</h3>
                            <p class="command__text">Developer</p>
                        </div>
                    </article>

                </li>

            </div>
            <div class="command__box">
                <li class="command__item">
                    <article class="card">
                        <div class="command__card">
                            <img src="./images/footer-modal/sergey.jpg" alt="" width="120" height="100">
                            <div class="card__box">
                                <p class="card__content">first boot logic</p>
                            </div>
                        </div>
                        <div class="command__content">
                            <h3 class="command__title">Sergey Khorosh</h3>
                            <p class="command__text">Developer</p>
                        </div>
                    </article>

                </li>
                <li class="command__item">

                    <article class="card">
                        <div class="command__card">
                            <img src="./images/footer-modal/vitalii2.jpg" alt="" width="120" height="100">
                            <div class="card__box">
                                <p class="card__content">development of the appearance of modal</p>
                            </div>
                        </div>
                        <div class="command__content">
                            <h3 class="command__title">Vitalii Semeniuk</h3>
                            <p class="command__text">Developer</p>
                        </div>
                    </article>

                </li>
                <li class="command__item">

                    <article class="card">
                        <div class="command__card">
                            <img src="./images/footer-modal/vlad.jpg" alt="" width="120" height="100">
                            <div class="card__box">
                                <p class="card__content">footer styling</p>
                            </div>
                        </div>
                        <div class="command__content">
                            <h3 class="command__title">Vlad Siladi</h3>
                            <p class="command__text">Developer</p>
                        </div>
                    </article>

                </li>

            </div>

        </ul>


    </div>
</div>