<footer class="footer">
    <div class="container footer__block">
    <!-- <p class="footer__link">© 2021 | All Rights Reserved |</p>
    <a href="" class="footer__link"> Developed with <span class="footer__heart">♥️</span> by GoIT Students</a> -->
    <p class="footer__link">© 2021 | All Rights Reserved |</p>
    <p class="footer__link footer__link-heart"> Developed with<span class=" footer__heart ">♥️</span> by
    <button class="footer__button footer__link" >GoIT Students</button></p>
    </div>
</footer>

