<header class="header">
  <div class="header__container container">
    <h1 class="header__title">FIND BEST EVENTS AROUND THE WORLD</h1>
    <div class="header__input-wrapper">
      <form action="" class="header__search-form">
        <input
          type="text"
          class="header__input header__input-search"
          name="input-search"
          placeholder="Start searching"
          autocomplete="off"
        />

        <input list="countries" class="header__input header__input-countries header__input-js" placeholder="Choose country" />
        <datalist id="countries" data-simplebar>
          <option value="All countries">All countries</option>
        </datalist>
        <!-- <button type="submit" class="header__choose-btn"></button> -->
        <!-- <button type="submit" class="header__search-btn"></button> -->
      </form>
      <!-- <form action="" class="header__choose-form">
        <input list="countries" class="header__input header__input-countries header__input-js" placeholder="Choose country" />
      <datalist id="countries" data-simplebar> -->
          
        </datalist>
        <!-- <button type="submit" class="header__choose-btn"></button> -->
       <!-- </form> -->
</header>
