<header class="header">
  <div class="header__container container">
    <h1 class="header__title">FIND BEST EVENTS AROUND THE WORLD</h1>
    <div class="header__input-wrapper">
      <form action="" class="header__search-form">
        <input
          type="text"
          class="header__input"
          name="input-search"
          placeholder="Start searching"
          autocomplete="off"
        />
        <button type="submit" class="header__search-btn"></button>
      </form>
      <form action="" class="header__choose-form">
        <input list="countries" class="header__input header__input-js" placeholder="Choose country" />
        <datalist id="countries">
          <option value="US">US</option>
          <option value="UK">UK</option>
          <option value="UA">UA</option>
        </datalist>
        <!-- <button type="submit" class="header__choose-btn"></button> -->
      </form>
</header>
