.footer {
  padding-bottom: 20px;
}

.footer__link {
  margin: 0;
  font-family: var(---primary-font-family);
  font-weight: var(--input-font-weight);
  font-size: var(--input-place-font-size);
  line-height: 1.25;

  text-decoration: none;
  //   display: inline-block;

  color: #939393;
  @media screen and (min-width: 768px) {
    font-size: var(--primary-font-size);
  }
}
.footer__link-heart {
  display: flex;

  align-items: baseline;
}

.footer__heart {
  display: flex;
  margin-left: 5px;
  margin-right: 5px;

  // flex-wrap: wrap;
  //

  justify-content: center;
  font-size: 20px;
  color: red;

  @media screen and (min-width: 768px) {
    font-size: 25px;
  }
  animation: animate125 3000ms infinite 1000ms;
}

@keyframes animate125 {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.5);
  }

  100% {
    transform: scale(1);
  }
}

.footer__button {
  border: #0e0e0e;
  border-radius: 8px;
  background-color: #0e0e0e;
  cursor: pointer;
  padding: 0;
  margin-left: 10px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  box-shadow: 0 0 8px var(--primary-title-color);

  &:hover,
  &:focus {
    color: #0e0e0e;
    background-color: var(--primary-title-color);
  }
}

.footer__block {
  display: flex;
  flex-wrap: wrap;

  justify-content: center;
  @media screen and (min-width: 768px) {
    flex-wrap: nowrap;
    align-items: baseline;
  }
}

// footer-modal
body.show-modal .footer__backdrop {
  opacity: 1;
  visibility: visible;
  pointer-events: initial;
}

body.show-modal .footer__modal {
  transform: scale(1);
}

.footer__backdrop {
  overflow-y: scroll;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.3);
  z-index: 999;

  pointer-events: none;
  opacity: 0;
  visibility: hidden;
  transition: opacity 200ms ease-in-out, visibility 200ms ease-in-out;
}

.footer__modal {
  padding: 30px;
  border-radius: 100px 0px;
  max-width: 540px;
  width: 100%;
  min-height: 320px;
  background-color: #fff2fd;
  box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14),
    0px 2px 1px -1px rgba(0, 0, 0, 0.12);

  transform: scale(1.1);
  transition: transform 200ms ease-in-out;
}

.footer__modal-button {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  position: absolute;
  top: 8px;
  right: 8px;
  margin-left: 0;
  margin-right: 0;
  width: 30px;
  height: 30px;
  border: 2px solid rgb(209, 197, 197);
  // box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
  //   0px 2px 1px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 1px 8px var(--primary-title-color);
  border-radius: 50%;
  background-color: rgb(209, 197, 197);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer__modal-button:hover,
.footer__modal-button:focus {
  background-color: var(--primary-title-color);
  border: 2px solid var(--primary-title-color);
}
.footer__modal-title {
  display: flex;
  justify-content: center;
  margin: 0;
  margin-bottom: 20px;
  color: #8046bf;
}

.command__list {
  list-style: none;
  padding: 0;
  margin: 0;

  display: flex;
  flex-wrap: wrap;
  margin-left: -10px;
  margin-top: -5px;
}

.command__block {
  display: flex;
  justify-content: center;
}
.command__box {
  display: flex;
  justify-content: space-around;
  list-style: none;
  padding-left: 0;
}
.command__item {
  // margin-left: 10px;
  margin-top: 5px;

  flex-basis: calc((100% - 10px * 3) / 3);
}
img {
  display: block;
  max-width: 100%;
  margin: 0;
  height: auto;
  border-radius: 16px 0px 0px 0px;
}
.card {
  background-color: #fff2fd;
  box-shadow: 0px 1px 3px var(--primary-title-color), 0px 1px 1px var(--primary-title-color),
    0px 2px 8px var(--primary-title-color);
  border-radius: 16px 0px 16px 0px;
}
.command__content {
  text-align: center;
  padding: 5px 0;
}
.command__title {
  color: var(--primary-title-color);
  margin: 0;
  margin-bottom: 5px;
  font-size: 10px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}

.command__text {
  margin: 0;
  font-size: 12px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}

.command__card {
  position: relative;
  overflow: hidden;
}

.card__box {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  right: 0;
  background-color: rgba(42, 12, 12, 0.8);
  border-radius: 16px 0px 0px 0px;
  transform: translateY(100%);
  opacity: 0;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1),
    opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.card:hover .card__box,
.card:focus .card_box {
  transform: translateY(0);
  opacity: 1;
}
.card__content {
  margin: 0;
  padding: 35px 0px;
  text-align: center;

  font-size: 14px;
  line-height: 1.6;
  letter-spacing: 0.03em;
  color: var(--primary-title-color);
}
